<Files ".htaccess">
deny from all
</Files>

RewriteEngine On

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.kapitaltruth.org/presentacion/$1 [R,L]

RewriteRule ^(es|en|cn|ca)/?$ index.php?lang=$1 [L]
